body {
  margin: 0%;
  background-color: #f7e2e0;
  font-family: sans-serif;
  min-width: 1000px;
  text-align: center;
}
.home {
                 /**/
  background-color: #f5c6aa;
  height: 100px;
  position: relative;
  margin: auto ;                                                 /* margin: auto;*/
  width: 90%;
  min-width: 1000px;
  transition: 1s;
}
.home-name {
  position: absolute;
  left: 3%;
  vertical-align: middle;
  line-height: 100px;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  text-shadow: 3px 3px #d4af37
  ;
}

.home-name:hover {
  transform: scale(1.15);
}

.home-menu {
  font-size: 13px;
  position: absolute;
  right: 5%;
  top: 20%;
  width: 50%;
  table-layout: fixed;
  border-spacing: 0px;
}
.menu-elements {
  line-height: 80px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  color: black;
}

.menu-elements:hover {
  transform: scale(1.15);
}

.border{
  position: absolute;
  width: 20%;
  min-width: 50px;
  height: 99.95px;
  left: min(4.8%,((100% - 1000px - 4px)/2));
  border-left:6px solid #4A1C40;
  border-bottom:3px solid #4A1C40;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.data-background {
  position: relative;
  top: 50px;
  width: 80%;
  margin:auto;
  min-width: 650px; 
  height:500px;        /**/
  overflow: hidden;
  border-radius: 25px;
  transition: 1s;
}

.data-background:hover{
  transform: scale(1.1);
}

.backgroundimage{
  position: relative  ;
  max-width: 100%; ;
  opacity: 30%;
}

.profile-photo{
  position: absolute;
  top: 22%;
  left:10%;
  height: 45%;
  width: 30%;
 /* border-bottom: 5px solid;
  border-left: 3px solid;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  border: 6px solid #ddd;
}

.overlay{
  position: absolute;
  top:22%;
  left: 10%;
  height: 45%;
  width: 30%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fabd9a;
  border-radius: 4px;
  border: 6px solid #ddd;

}
.profile-container:hover .overlay {
  opacity: 1;
}
.text{
  position: relative;
  top: 30%;
  font-family: "Work Sans", sans-serif; 
  font-size: 2rem;
}

.details-container{
  position: absolute;
  top: 0%;
  right: 5%;
  height: 75%;
  width:  45%;
  text-align: left;
}

.details-text{
  position: absolute;
  top: 4%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1.3rem;
  
}

.edu-container{
  position: relative;
  width: 80%;
  min-width: 650px;
 margin: 100px auto;
  height: 500px;
  background-color: #ffe4e2 ;
  text-align: left;
  border-radius: 25px;
  transition: 1s;
}

.edu-container:hover{
  transform: scale(1.1);
}

.sba-logo{
  position: absolute;
  top: 10%;
  left: 10%;
  height: 40%;
  width: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iitp-logo{
  position: absolute;
  right: 5%;
  bottom: 10%;
  height: 39%;
  width: 25%; 
}

.edu-details1{
  position: absolute;
  right: 10%;
  top:10%;
  width: 60%;
  height: 40%;
}

.edu-details2{
  position: absolute;
  left: 10%;
  bottom:4%;
  width: 60%;
  height: 40%;
}

.list{
  line-height: 1.7em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1.1rem;

}

.education{
  font-family: "Work Sans", sans-serif; 
  font-size: 2em;
  margin: 10px 0;
}

.contact{
  position: relative;
  bottom: 0%;
  background-color: #99154E;
  text-align: center;
  height: 100px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}
.social-logo{
  height: 15px;
  width: 15px;
}

.social-contact:hover{
  transform: scale(1.15);
}

.logo-container{
  height: 50px;
  margin: auto;
  column-width: 20px;
}

.social-contact{
  width: fit-content;
  padding-right: 20px;
  padding-bottom: 10px;
  
}

.copyright{
    position: relative;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
}
.copyright:hover{
  color: white;
} 
#fb{
  width: 10px;
}

.fun-section{
    position: relative;
    width: 80%;
    min-width: 650px;
   margin: 100px auto;
    height: 500px;
    background-color: #ffe4e2 ;
    text-align: left;
    border-radius: 25px;
    text-align: center;
    transition: 1s;
}

.fun-section:hover{
  transform: scale(1.1);
}
.activity-list{
  font-family: "Work Sans", sans-serif; 
  font-size: 2em;
  margin: 10px 0;
}
.activity-heading{
  font-family: "Work Sans", sans-serif; 
  font-size: 2em;
  margin: 10px 0;
}
/*<a href="https://www.freepik.com/vectors/background"></a>*/
